/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: blueviolet;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 0.6rem;
    z-index: 99;
    box-shadow: 0 3px 3px rgb(168, 93, 191);
}

.active {
    background-color: #fff;
    color: blueviolet;
    border-bottom: 1px solid #000000;
    padding: 0 0.5em;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

header a {
    text-decoration: none;
    color: rgb(254, 253, 255);
}

header h1 {
    display: inline-block;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.menu li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0.25rem;
    display: inline-block;
}

/* Navbar styles with dropdown toggle */
nav {

    position: absolute;
    background-color: blueviolet;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    top: 100%;
    color: #fff;
    display: none;
    position: absolute;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin top so no content will be covered in header */
    margin-top: 124px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
.hero {
    background: url(../images/hero_image.webp) no-repeat center center/cover;
    height: 500px;
    width: 100%;
    position: relative;
}

.hero-text {
    background-color: rgba(174, 0, 255, .10);
    /* Gave bg color same height as bg image to give it a purple tint */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration-style: solid;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.motivation {
    padding: 1rem 1rem;
}

.motivation img {
    height: 25vh;
    width: auto;
}

.motivation h2 {
    letter-spacing: normal;
    text-align: center;
}

.workout-benefits {
    letter-spacing: normal;
    display: inline-block;
    /*flex direction - column to keep the content in div vertical 
    flex-direction: column; */
}

.workout-benefits h2,
h3 {
    text-decoration: solid;
    letter-spacing: normal;
    text-align: left;
    text-decoration-line: underline;
}

.healthy-meals-benefits h2,
h3 {
    text-decoration: solid;
    letter-spacing: normal;
    text-align: left;
    text-decoration-line: underline;
}

.physical-benefits ul {
    list-style-type: none;
}

.mental-benefits ul {
    list-style-type: none;
}

.workout-routines {
    padding: 1rem 1rem;
}

.workout-routines ul {
    list-style-type: none;
}

video {
    width: 200px;
}

.meal-prep-table {}

table {
    background: rgb(225, 209, 241);
    border-collapse: collapse;
    width: 100%;
}

caption,
td,
th {
    padding: 1rem;
    
}

caption {
    background-color: rgb(195, 158, 229);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

th {
    background: rgb(225, 209, 241);
}

tr:nth-of-type(2n) {
    background-color: rgb(204, 167, 239);
}

/* Footer */
footer {
    background-color: blueviolet;
    flex-shrink: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;

}

/* Hide irrelevant h1 */
.social-media h1 {
    display: none;
}

.social-networks {
    list-style-type: none;
    display: inline-block;
    align-items: center;
    text-align: center;

}

.social-media {
    width: 50%;
    justify-content: space-evenly;
}

.social-media li {
    display: flex;

}

.social-networks i {
    color: #fff;
    padding: 5%;
}

.social-networks li {
    display: inline-block;

}

/* Media query: large or landscape phones (576px and up) */
@media screen and (max-width: 780px) {
    th {
        display: none;
        padding: 5rem;
    }

    td {
        display: block;
    }

    td:first-child {
        padding-top: 2rem;
    }

    td:last-child {
        padding-bottom: 2rem;
    }

    td::before {
        font-weight: bold;
        text-transform: capitalize;
    }

    td:nth-of-type(1)::before {
        content: "day:";
    }

    td:nth-of-type(2)::before {
        content: "breakfast:";
    }

    td:nth-of-type(3)::before {
        content: "lunch:";
    }

    td:nth-of-type(4)::before {
        content: "evening meal:";
    }

    td:nth-of-type(5)::before {
        content: "snacks:";
    }

}